
/* ----------- aside start ------------ */


.aside{
    width: 15%;
    padding: 1rem;
    height: 100vh;
    border-right: 1px solid rgba(160, 160, 160, 0.781);
}



.userName{
    width: 100%;
}
.section_items{
    margin: 0;
    width: 100%;
    padding: 1rem 0;
}

.section_contents{
    margin-bottom: 10px;
    cursor: pointer;
    padding: 1rem;
}

.section_contents:hover{
    background: rgb(87, 87, 239);
    border-radius: 0.5rem;
   color: aliceblue;
}



/* ----------- aside end ------------ */


.container {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.userLogo img {
    width: 30px;
    margin-right: 5px;
    color: rgb(87, 87, 239);
}

.section_items{
    list-style-type: none;
}

.section_items li i{
   margin-right: 5px;
}



.section_lists{
    margin-bottom: 10px;
}

.tool,
.project{
    color: #888;
}


/* -------------------------header------------- */
.hero{
    margin-top: 0;
    align-self: flex-start;
    width: 100%;
    padding: 2rem;
}
.header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
   
}
.header_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* .userProfile{
    display: flex;
    align-items: center;
} */
.userProfile,
.search,
.notification,
.userProfile_list {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Add margin between the sections */
}
.userProfile h1,
.userProfile p {
    margin: 0; 
}
.userProfile img{
    width: 30px;
    margin-right: 5px;
    border-radius: 2rem;
}
.search{
    background-color: #c2bcbc;
    border-radius: 2rem;
    padding: 5px;
    margin-left: auto;
}

.userProfile_list{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 10px;
    font-weight: 700;
}
.userProfile_list img{
    width: 30px;
    margin-right: 5px;
    border-radius: 2rem;
}
.user_detail{
    display: flex;
    align-items: center;
}



/* main */


/* stat */

.stat{
    
    background-color: rgb(87, 87, 239);
    color: white;
    justify-content: space-between;
    border-radius: 1rem;
}
.stat p {
    color: #cfcccc;
}
.stat .card{
    display: flex;
    padding: 1rem;
}

.stat .main_text{
    display: flex;
    align-items: center;
}

.card .img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

.card img{
    width: 100%;
}


.main{
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two columns with equal width */
    grid-gap: 20px; 
}



@media only screen and (min-width: 1024px) {

    /* aside */
    .aside{
        width: 17%;
    }

    .stat{
        display: flex;
    }



  }